
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <header class="page-header">
    <h1>Order #<%= @order_id %></h1>
  </header>
    <h3>Order Details: </h3>



  <section class="cart-show">


  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @line_items_total = 0 %>
        <% @line_items.each do |line_items| %>
          <%= render 'item', product_id: line_items.product_id, quantity: line_items.quantity, item_price: line_items.item_price_cents, total_price: line_items.total_price_cents %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= "$#{@line_items_total}" %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  </body>
</html>